
* {
    font-family: 'Karla', sans-serif;
    color: white;
}

html, body {
    margin: 0;
    padding: 0;
}

.body {
    background-color:floralwhite;
    color: white;
    padding-top: 300px;
}
.body2 {
    background: #2C3333;/* hsl(323 21% 16%) 2C3333 2C3639 */
    padding-top: 300px;
}

.button-style {
    font-size: 16px;
    height: 50px;
    width: 125px;
    border-radius: 5px;
    cursor: pointer;
    background-color: green;
    color: white;
    margin-left: 10px;
    margin-right: 10px;
}

.button-style3 {
    font-size: 12px;
    height: 35px;
    width: 75px;
    border-radius: 10px;
    cursor: pointer;
    background-color: blue;
    color: white;
    margin-left: 10px;
    margin-right: 10px;
}

.button-style:focus{
        outline: none;
}
.button-style:active{
        box-shadow: inset 5px 5px 10px -3px rgba(0, 0, 0, 0.7);
}
.button-style3:focus{
        outline: none;
 }
.button-style3:active{
        box-shadow: inset 5px 5px 10px -3px rgba(0, 0, 0, 0.7);
}

#clock{
    font-size: 24px;
    font-weight: 600;
    color:rgb(116, 153, 190);
    padding-top: 15px;
    display: flex;
    justify-content: center;

}
#clock2{
    font-size: 24px;
    font-weight: 600;
    color:black;
    padding-top: 15px;
    display: flex;
    justify-content: center;
}

#end-button {
    background-color: darkred;
}
#end-button:focus{
    outline: none;
}
#end-button:active{
    box-shadow: inset 5px 5px 10px -3px rgba(0, 0, 0, 0.7);
}

.form-display{
    display: flex;
    justify-content: center;
    align-items: center;
    width:100%;
    margin-bottom: 50px;
}

.form {
    background-color:floralwhite;
    color: white;
    padding-top: 50px;
    width:100%;
    margin-right: 0px;
    margin-left: 0px;
}
.form2 {
    background: #2C3333;
    padding-top: 50px;
    width:100%;
    margin-right: 0px;
    margin-left: 0px;
}

.form-card{
    height: 250px;
    width:200px;
    background-color:rgb(116, 153, 190);
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    border-radius: 5px;
    font-weight: 500;
    box-shadow: 5px 5px 15px -1px rgba(0,0,0,0.75);
    border: 1px solid black;
}
.form-card2{
    height: 250px;
    width:200px;
    background-color:rgb(83, 83, 100);
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    border-radius: 5px;
    font-weight: 500;
    box-shadow: 5px 5px 10px black;
    border: 1px solid black;
}
.form-card > input {
    width: 100px;
    border-radius: 5px;
    text-align: center;
    color: black;

}
.form-card > textarea {
    width: 150px;
    height: 25px;
    text-align: center;
    border-radius: 5px;
    color: black;
}
.form-card > select {
    width: 110px;
    border-radius: 5px;
    text-align: center;
    color: black;
}
.form-card > label {
    text-align: center;
    color: black;
}

.form-card2 > input {
    width: 100px;
    border-radius: 5px;
    text-align: center;
    background: rgb(35, 35, 35);
    color: floralwhite;
}
.form-card2 > textarea {
    width: 150px;
    height: 25px;
    text-align: center;
    border-radius: 5px;
    background: rgb(35, 35, 35);
    color: floralwhite;
}
.form-card2 > select {
    width: 110px;
    border-radius: 5px;
    text-align: center;
    background: rgb(35, 35, 35);
    color: floralwhite;
}
.form-card2 > label {
    text-align: center;
    color: white;
}

.history-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color:floralwhite;
    color: white;
    padding-top: 25px;
    padding-bottom: 1000px;
    width: 100%;
}
.history2-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: #2C3333;
    padding-top: 25px;
    padding-bottom: 1000px;
    width: 100%;
}

.historycards-box{
    display: flex;
    justify-content:center;
    align-items: center;
    flex-wrap: wrap;
    gap: 10px;
}

.history-card{
    font-size: 14px;
    background-color: rgb(116, 153, 190);
    color: white;
    max-height: 1000px;
    max-width: 500px;
    min-width: 250px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: 5px 5px 15px -1px rgba(0,0,0,0.75);
    border: 1px solid black;
    padding: 15px;
}
.history-card > textarea{
    width: 250px;
    height: 50px;
    text-align: center;
    border-radius: 5px;
    color: black;
    margin-bottom: 10px;
}
.history-card > button {
    align-self: flex-end;
    margin-top: 5px;
    height: 20px;
    width: 50px;
    font-size: 10px;
}
.history-card2 > textarea{
    width: 250px;
    height: 50px;
    text-align: center;
    border-radius: 5px;
    background: rgb(35, 35, 35);
    color: floralwhite;
    margin-bottom: 10px;
}
.history-card2{
    font-size: 14px;
    background-color:rgb(83, 83, 100);
    color: white;
    max-height: 1000px;
    max-width: 500px;
    min-width: 250px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: 5px 5px 15px -1px rgba(0,0,0,0.75);
    border: 1px solid black;
    padding: 15px;
}
.history-card2 > button {
    align-self: flex-end;
    margin-top: 5px;
    height: 20px;
    width: 50px;
    font-size: 10px;
}

#historyCard-header{
    font-size: 16px;
}

.links{
    display: flex;
    justify-content: space-between;
}

/* LOGIN Page */

#login-container{
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* form validation styling */

.error {
	color: rgb(224, 18, 114);
    /* font-size: 18px;
    text-transform: capitalize;
    font-weight: bold; */
}

input.input-error, select.input-error {
	border-color:  rgb(224, 18, 114);
}

.login {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-height: 1000px;
    max-width: 600px;
    min-width: 300px;
    width: 30%;
    padding: 10px;
    border-radius: 5px;
    font-weight: 500;
    font-size: 18px;
    box-shadow: 5px 5px 15px -1px rgba(0,0,0,0.75);
    border: 1px solid black;
    background-color:#161414;
    color: white;
    margin-bottom: 150px;
    margin-top: -300px;
}
.login2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-height: 1000px;
    max-width: 600px;
    min-width: 300px;
    width: 30%;
    padding: 10px;
    border-radius: 5px;
    font-weight: 500;
    font-size: 18px;
    box-shadow: 5px 5px 15px -1px rgba(0,0,0,0.75);
    border: 1px solid black;
    background-color:rgb(116, 153, 190);
    color: white;
    margin-bottom: 150px;
    margin-top: -300px;
}
.login > label{
    width: 60%;
	text-align: center;
	margin-top: 20px;
    font-size: 20px;
    color: floralwhite;
}
.login2 > label{
    width: 60%;
	text-align: center;
	margin-top: 20px;
    font-size: 20px;
    color: black;
}
.login > input{
    background: rgb(35, 35, 35);
    color: floralwhite;
    font-size: 16px;
    width: 90%;
    height: 50px;
    border-radius: 5px;
    margin-bottom: 10px;
    margin-top: 5px;
    border: 1px solid black;
    text-align: center;
}
.login2 > input{

    color: black;
    font-size: 16px;
    width: 90%;
    height: 50px;
    border-radius: 5px;
    margin-bottom: 10px;
    margin-top: 5px;
    border: 1px solid black;
    text-align: center;
}
#login-button {
    border-radius: 5px;
    background-color:rgb(35, 35, 35);
    color: white;
    cursor: pointer;
    width: 150px;
    height:50px;
    margin: 20px 10px;
    font-size: 24px;
    border: 1px solid black; 
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}
#login-button:focus{
    outline: none;
}
#login-button:hover{
    background-color: #22A39F;
}
#login-button:active{
    box-shadow: inset 5px 5px 10px -3px rgba(0, 0, 0, 0.7);
}
#login-button2 {
    border-radius: 5px;
    background-color: rgb(83, 83, 100);
    color: floralwhite;
    cursor: pointer;
    width: 150px;
    height:50px;
    margin: 20px 10px;
    font-size: 24px;
    border: 1px solid black; 
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}
#login-button2:focus{
    outline: none;
}
#login-button2:hover{
    background-color: #22A39F;
}
#login-button2:active{
    box-shadow: inset 5px 5px 10px -3px rgba(0, 0, 0, 0.7);
}
#logo-login{
    font-size: 55px;
    text-shadow: 2px 2px 5px black; 
    color:rgb(83, 83, 100);
    font-family: 'Fredoka One';
}

.logo-nav{
    font-size: 50px;
    text-shadow: 2px 2px 5px black; 
    font-family: 'Fredoka One';
    text-align: left;
    color: rgb(83, 83, 100);
}
.logo-nav2{
    font-size: 50px;
    text-shadow: 2px 2px 5px black; 
    font-family: 'Fredoka One';
    text-align: left;
    color: floralwhite;
}

#logo{
    font-size: 55px;
    text-shadow: 2px 2px 5px black; 
    color:rgb(83, 83, 100);
    font-family: 'Fredoka One';
    padding-bottom: 50px;
    padding-top: 25px;
    text-align:center;
}
#logo2{
    font-size: 55px;
    text-shadow: 1px 2px 2px black; 
    color:rgb(116, 153, 190);
    font-family: 'Fredoka One';
    padding-bottom: 50px;
    padding-top: 25px;
    text-align:center;
}

#navbar {
    background-color:floralwhite;
    color: white;
    margin: none;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 25px;
    gap: 25px;
    padding-bottom: 100px;
}
#navbar2 {
    background: rgb(35, 35, 35);
    margin: none;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 25px;
    gap: 25px;
    padding-bottom: 100px;
}
.sublinks-box {
    width: 250px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.sub-links{
    border-radius: 10px;
    background-color: rgb(83, 83, 100);
    color: floralwhite;
    cursor: pointer;
    width: 100px;
    height: 50px;
    margin-top: 10px;
    margin-left: 10px;
    margin-right: 10px;
    font-size: 16px;
}
.sub-links:focus{
    outline: none;
} 
.sub-links:active{
    box-shadow: inset 5px 5px 10px -3px rgba(0, 0, 0, 0.7);
}
.sub-links2 {
    border-radius: 10px;
    background-color: rgb(116, 153, 190);
    color: floralwhite;
    cursor: pointer;
    width: 100px;
    height: 50px;
    margin-top: 10px;
    margin-left: 10px;
    margin-right: 10px;
    font-size: 16px;
}
.sub-links2:focus{
    outline: none;
}
.sub-links2:active{
    box-shadow: inset 5px 5px 10px -3px rgba(0, 0, 0, 0.7);
}

#summary-box{
    display: flex;
    justify-content: center;
    align-items: center;
}

.summmary-container{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
.summary {
    background-color:floralwhite;
    color: white;
    padding-top: 25px;
}
.summary2 {
    background: #2C3333;
    padding-top: 25px;
}
.summary-card{
    font-size: 14px;
    max-height: 600Px;
    max-width: 500px;
    min-width: 250px;
    background-color: rgb(116, 153, 190);
    color:white;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: nowrap;
    padding: 15px;
    overflow: auto;
    box-shadow: 5px 5px 15px -1px rgba(0,0,0,0.75);
    margin: 25px;
    border: 1px solid black;
}
.summary-card > button {
    align-self: flex-start;
}
.summary-card2{
    font-size: 14px;
    max-height: 600Px;
    max-width: 500px;
    min-width: 250px;
    background-color:rgb(83, 83, 100);
    color:white;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: nowrap;
    padding: 15px;
    overflow: auto;
    box-shadow: 5px 5px 15px -1px rgba(0,0,0,0.75);
    margin: 25px;
    border: 1px solid black;
}
.summary-card2 > button {
    align-self: flex-start;
}
#summary-header{
    font-size: 20px;
    margin-bottom: 15px
}
#temp-box{
    height: 100vh;
    width: 100%;
    display:flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

/* TIMER container */

.timer-buttons {
    background-color: none;
    color: white;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding-bottom:50px;
}

.timer {
    background-color:floralwhite;
    color: white;
    padding-top: 200px;
}
.timer2 {
    background: #2C3333;
    padding-top: 200px;
}

#toggler1 {
    border-radius: 10px;
    background-color: rgb(83, 83, 100);
    color: floralwhite;
    cursor: pointer;
    width: 100px;
    height: 50px;
    margin-top: 10px;
    margin-left: 10px;
    font-size: 16px;
}
#toggler1:focus{
    outline: none;
}
#toggler1:active{
    box-shadow: inset 5px 5px 10px -3px rgba(0, 0, 0, 0.7);
}
#toggler2 {
    border-radius: 10px;
    background-color: rgb(116, 153, 190);
    color: floralwhite;
    cursor: pointer;
    width: 100px;
    height: 50px;
    margin-top: 10px;
    margin-left: 10px;
    font-size: 16px;
}
#toggler2:focus{
    outline: none;
} 
#toggler2:active{
    box-shadow: inset 5px 5px 10px -3px rgba(0, 0, 0, 0.7);
}


.main{
    background-color: #2C3333;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
}
.main2{
    background-color: floralwhite;;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
}

/* Mobile Settings */


@media all and (max-width: 1500px) {

    .button-style {
        margin-top: 50px;
        margin-bottom: 10px;
    }

    .form-display {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

    }

};

@media screen and (min-width: 750px) {
    .login {
        width: 500px;
    }

    .login2 {
        width: 500px;
    }
}

@media screen and (max-width: 505px) {
    .logo-nav2{
        font-size: 32px !important;
        margin-right: auto;
    };

    .timer2 {
        background: #2C3333;
        padding-top: 100px;
    };

    .login2 > input{
        font-size: 16px;
    }

}

@media screen and (max-width: 500px) {
    .logo-nav{
        font-size: 32px;
        margin-right: auto;
    };

    .timer {
        background-color:floralwhite;
        color: white;
        padding-top: 100px;
    };

    .login > input {
        font-size: 16px;
    }

};


@media all and (max-width: 650px) {

    .header-style {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        padding-bottom:50px;
    };

}

@media all and (max-width: 405px) {
    .summary-card {
        font-size: 14px;
        height: 600Px;
        width: 250px;
    }
    #logo {
        font-size: 50px;
    }
}

@media all and (max-width: 400px) {

    .summary-card2 {
        font-size: 14px;
        height: 600Px;
        width: 250px;
    }

    #logo2 {
        font-size: 50px;
    }

    /* #icon-div{

    } */

};


